main{
    width: 100%;
    height: 100%;
    background-image: url(assets/images/bg-pattern-top.svg), url(assets/images/bg-pattern-bottom.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card{
    width: auto;
    height: 390px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.cover-image{
    width: 100%;
}

.cover-image img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
}

.profile-photo{
    position: relative;
    top: -50px;
    width: auto;
    height: auto;
    background-color: white;
    padding: 6px 6px 2px 6px;
    border-radius: 100px;
}

.profile-photo img{
    border-radius: 100px;
}

.profile-name-age{
    margin-top: -30px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name-age h1{
    font-size: 18px;
    padding-right: 10px;
}

.profile-name-age p{
    font-size: 18px;
    color: hsl(227, 10%, 46%);
}

.location{
    margin-bottom: 10px;
    font-size: 15px;
    color: hsl(227, 10%, 46%);
}

.hr{
    margin-top: 14px;
    width: 100%;
    height: 1px;
    opacity: 0.2;
}

.profile-stats{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stat h1{
    font-size: 18px;
}

.stat p{
    margin-top: 4px;
    font-size: 12px;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

@media (max-width: 480px){
    .profile-card{
        width: 90%;
    }
}